<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
<!-- 톰캣구동시 ServletContext객체가 생성됨, 생성을 감시하는 감시자가 ServletContextListener입니다 -->
<!-- ContextLoaderListener클래스는 ServletcontextListener의 하위클래스입니다 -->
<listener>
	<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
</listener>
<context-param>
	<param-name>contextConfigLocation</param-name>
	<param-value>/WEB-INF/spring/myApplicationContext.xml</param-value>
</context-param>
<!-- back단을 먼저 만들고, 아래 Controller역할의 servlet 생성 -->

<!-- Web Application Container 구동 -->
<servlet>	
	<servlet-name>appServlet</servlet-name>
	<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
	<init-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/myMVCContext.xml</param-value>
	</init-param>	
</servlet> 
<servlet-mapping>
	<servlet-name>appServlet</servlet-name>
	<url-pattern>/</url-pattern>
</servlet-mapping>
</web-app>