<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">  
<configuration>
  <settings>
    <setting name="mapUnderscoreToCamelCase" value="true"/>
    <setting name="jdbcTypeForNull" value="NULL"/>
    <!-- 자바 객체의 null값을 DB컬럼값에서 어떤값으로 쓸래? null로 사용하겠다-> value="NULL" -->
  </settings>
  <typeAliases>
  	<typeAlias type="com.my.board.dto.Board" alias="Board"/>
  	<typeAlias type="com.my.board.dto.Reply" alias="Reply"/>
  </typeAliases>
  
  <mappers>
    <mapper resource="Board.xml"/>
  </mappers> 

</configuration>